@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: black;
}

.main {
  background-image: url("Images/bg.jpg");
  background-position: center center;
  height: 70vh;
  max-width: (1200px, 100vw);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .box {
  background-color: rgb(0, 0, 0);
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
}

nav {
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 45px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0px 30px;
}

.hero .one {
  align-items: center;
  font-weight: 900;
  font-size: 27px;
}

.hero .two {
  font-weight: 400;
  font-size: 20px;
}

.hero .three {
  font-weight: 400;
  font-size: 15px;
}

.seperation {
  height: 7px;
  background-color: rgb(65, 65, 65);
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.btn-red {
  background-color: red;
  height: 5vh;
  color: white;
  padding: 3px 24px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 600;
}

.hero-buttons input {
  padding: 8px 100px 8px 4px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(23, 23, 23, 0.5);
  color: white;
  height: 3vh;
}

nav img {
  width: 114px;
  position: relative;
  z-index: 10;
}

.language {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-red-sn {
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  background-color: red;
  color: white;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
  padding: 30px 0;
  color: white;
}

.secText {
  max-width: 45%;
}

.secText h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.secText p {
  font-size: 1rem;
  line-height: 1.6;
}

.secMedia {
  position: relative;
  max-width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secMedia img {
  width: 100%;
  z-index: 999;
}

.secMedia video {
  position: absolute;
  top: 20%;
  left: 8%;
  width: 90%;
  z-index: 1;
  border-radius: 8px;
}

.second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
  padding: 40px 0;
  color: white;
}

.thText {
  max-width: 45%;
}

.thText h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.thText p {
  font-size: 1rem;
  line-height: 1.6;
}

.thMedia {
  position: relative;
  max-width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thMedia img {
  width: 100%;
  padding-right: 12vw;
}

.third {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
  padding: 7px 0;
  color: white;
}

.frText {
  max-width: 45%;
}

.frText h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.frText p {
  font-size: 1rem;
  line-height: 1.6;
}

.frMedia {
  position: relative;
  max-width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frMedia img {
  width: 100%;
  z-index: 999;
}

.frMedia video {
  position: absolute;
  top: 8%;
  left: 19%;
  width: 61%;
  z-index: 1;
  border-radius: 8px;
}

.fourth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
  padding: 7px 0;
  color: white;
}

.fvText {
  max-width: 45%;
}

.fvText h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.fvText p {
  font-size: 1rem;
  line-height: 1.6;
}

.fvMedia {
  position: relative;
  max-width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fvMedia img {
  width: 100%;
}

.faq h2 {
  text-align: center;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

.faqbox:hover {
  background-color: rgb(69, 68, 68);
}

.faqbox {
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 41, 41);
  padding: 14px;
  width: 100%;
  color: white;
  margin: 6px auto;
  max-width: 55vw;
  cursor: pointer;
}

.faqPlus {
  color: white;
}

.rtw {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 14px 20px;
}

.rtw p {
  color: white;
  margin: auto;
  padding: 7px;
}

.end-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 14px;
}

.end-buttons input {
  padding: 10px 168px 17px 4px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(23, 23, 23, 0.5);
  color: white;
  height: 3vh;
}

.btn-red-end {
  background-color: red;
  height: 5vh;
  color: white;
  padding: 10px 30px 23px 18px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 600;
}


.fifth {
  width: 75vw;
  margin: auto;
  height: 400px;
}

.Contact {
  font-size: 13px;
  padding: 50px 0px 20px 0px;
  color: rgba(255, 255, 255, 0.658);
}

.fifth button {
  margin: 30px 0px 10px 0px;
}

.boxes {
  display: flex;
  /* height: 100vh; */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid-item {
  margin: 2.5px 120px 2.5px 0px;
}

.add-link {
  color: rgba(255, 255, 255, 0.658);
  font-size: 13px;
}

.NetflixIndia {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.658);
}

.lang{
  padding: 5px 7px;
  color: white;
  border: 1px solid gray;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 2px;
}

@media (max-width: 768px) {
  nav img {
    width: 90px;
  }

  nav {
    max-width: 80vw;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
  }

  .first {
    flex-direction: column;
    text-align: center;
  }

  .secText {
    max-width: 100%;
    padding: 0 20px;
  }

  .secMedia {
    max-width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .secMedia img {
    width: 100%;
    position: relative;
  }

  .secMedia video {
    width: 90%;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: 8px;
  }

  .second {
    flex-direction: column;
    text-align: center;
  }

  .thMedia {
    margin-top: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13%;
  }

  .thText {
    max-width: 100%;
    padding: 0 20px;
  }

  .third {
    flex-direction: column;
    text-align: center;
  }

  .frText {
    max-width: 100%;
    padding: 0 20px;
  }

  .frMedia {
    max-width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .frMedia img {
    width: 100%;
    position: relative;
  }

  .frMedia video {
    width: 60%;
    position: absolute;
    top: 6%;
    left: 17%;
    border-radius: 8px;
  }

  .fourth {
    flex-direction: column;
    text-align: center;
  }

  .fvText {
    max-width: 100%;
    padding: 0 20px;
  }

  .fvMedia {
    max-width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fvMedia img {
    width: 100%;
    position: relative;
  }

  .fvMedia video {
    width: 90%;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: 8px;
  }

  .end-buttons {
    display: flex;
    flex-direction: column;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .grid-item {
    margin: 2.5px 20px 2.5px 0px;
  }
}